{% extends "layout.html" %}

{% block title %}
    Search songs/raga
{% endblock %}

{% block main %}
    <p>&#11162; A ragam consists of swaras(notes) which are: Sa(S), Re(R1/R2/R3), Ga(G1/G2/G3), Ma(M1/M2), Pa(P), Da(D1/D2/D3) and Ni(N1/N2/N3). The different combinations of these notes give rise to different ragas. </p>
    <p>&#11162; Here, you can select a particular combination of these swaras and determine which ragam that combination represents</p>
    <p>&#11162; Notice that Re, Ga, Ma, Da and Ni have variations 1 or 2 and/or 3. Each particular variation has a name as in the options</p>
    <p>&#11162; For more details about raga read <a href="https://en.wikipedia.org/wiki/Carnatic_raga#:~:text=A%20Carnatic%20raga%20consists%20of,rarer%20ragas%20contain%20fewer%20tones.">here</a></p>

    ><a href="/" style="font-size: 25px">Return to homepage</a>
{% endblock %}
